body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
}

div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: darkcyan;
    color: wheat;
    width: 8rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

#visitor-div {
    padding: 1rem;
}